{% extends "base.html" %}

{% block content %}
<!-- Dashboard Title -->
<div class="columns">
    <div class="column is-full">
        <h1 class="title is-1">Dashboard</h1>
    </div>
</div>

<div class="columns">
    <!-- Left Column -->
    <div class="column is-half">
        <div class="row">
            <div class="box">

            </div>
        </div>
        <div class="row">
            <div class="box">
                
            </div>
        </div>
    </div>

    <!-- Right Column -->
    <div class="column is-half">
        <div class="row">
            <div class="box">

            </div>
        </div>
        <div class="row">
            <div class="box">
                
            </div>
        </div>
    </div>
</div>
        


{% endblock %}
